* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar-custom {
    background-color: #0074D9;
}

.navbar-brand, .nav-link {
    color: #fff ;
}

.footer-custom {
     background-color: #001f3f;
     color: #fff;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
