<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authorization | TMNTgram</title>
  <link rel="stylesheet" href="/src/styles/authorization.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <nav class="nav">
        <h1 class="logo">TMNTgram</h1>
        <div class="navbar-nav flex-row flex-wrap">
        <a class="nav-link active me-3" aria-current="page" href="homepage.html">Home</a>
        <a class="nav-link me-3" href="friends.html">Friends</a>
        <a class="nav-link me-3" href="profile.html">Profile</a>
        <a class="nav-link me-3" href="news.html">News</a>
        <a class="nav-link me-3" href="search.html">Search</a>
        <a class="nav-link" href="authorization.html">Login</a>
        <a class="nav-link" href="registration.html">Registration</a>
    </div>
      </nav>
      <div id="current-time" style="color:white; margin-top:5px; text-align:right;"></div>

    </div>
  </header>

  <section class="hero">
    <div class="container">
      <h2 class="hero-title">Authorization</h2>
      <form class="auth-form">
        <label for="username">Username:</label>
        <input type="text" id="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" required>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="footer-bottom">
        <p>Participants: Tamerlan Khassenov, Alikhan Sekenov, Aldiyar Bazarbayev, Aldiyar Gaisa</p>
        <p>© 2025 TMNTgram. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <script src="../../scripts/time.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
