<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <link rel="stylesheet" href="/src/styles/authorization.css">
</head>
<body>
    <h1>Authorization</h1>
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" required>

        <button type="submit">Login</button>
    </form>
    <footer>
        Participants: Tamerlan Khassenov, Alikhan Sekenov, Aldiyar Bazarbayev, Aldiyar Gaisa
    </footer>
</body>
</html>
