<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Friends</title>
    <link rel="stylesheet" href="css/friends.css">
</head>
<body>

<nav>
    <a href="friends.html" class="active">Friends</a> |
    <a href="search.html">Search</a> |
    <a href="settings.html">Settings</a>
</nav>

<h2>My Friends</h2>

<section class="friends">
    <div class="card" id="Aldiyar">
        <img src="../../assets/img/ALDIYAR.jpg" alt="Aldiyar" width="250">
        <div>Aldiyar — Online</div>
    </div>

    <div class="card" id="Askhat">
        <img src="../../assets/img/ASKHAT.jpg" alt="Askhat" width="250">
        <div>Askhat — Offline</div>
    </div>
</section>

<footer>
    Team: Tamerlan Khasenov • Alikhan Sekenov • Aldiyar Bazarbayev • Aldiyar Gaisa
</footer>

</body>
</html>