<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="travel, agency, vacation, tours, destinations">
    <meta name="author" content="TMNTgram Team">
    <title>TMNTgram</title>
    <link rel="stylesheet" href="/src/styles/homepage.css">
    <link rel="icon" href="./assets/imgs/favicon.ico" type="image/x-icon">
</head>
<body>
    <header id="main-header" class="header">
        <div class="container">
            <nav class="nav">
                <h1 class="logo">TMNTgram</h1>
                <div class="nav-links">
                    <a href="homepage.html">Home</a>
                    <a href="friends.html">Friends</a>
                    <a href="profile.html">Profile</a>
                    <a href="profile.html">Settings</a>
                    <a href="authorization.html">Login</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="gallery">
        <div class="gallery-item">
            <img src="/src/assets/img/ALDIYAR.jpg" alt="Description 1">
            <div class="caption">Aldiyar</div>
        </div>
        <div class="gallery-item">
            <img src="/src/assets/img/ASKHAT.jpg" alt="Description 1">
            <div class="caption">Askhat</div>
        </div>
        <div class="gallery-item">
            <img src="/src/assets/img/assylkhan.jpg" alt="Description 1">
            <div class="caption">Assylkhan</div>
        </div>
        <div class="gallery-item">
            <img src="/src/assets/img/sandwich.jpeg" alt="Description 1">
            <div class="caption">Sandwich</div>
        </div>
        <div class="gallery-item">
            <img src="/src/assets/img/shrek1.jpeg" alt="Description 1">
            <div class="caption">Shrek</div>
        </div>
        <div class="gallery-item">
            <img src="/src/assets/img/shrek2.jpeg" alt="Description 1">
            <div class="caption">Shrek</div>
        </div>
        <div class="gallery-item">
            <img src="/src/assets/img/shrek3.jpeg" alt="Description 1">
            <div class="caption">Shrek</div>
        </div>
        <div class="gallery-item">
            <img src="/src/assets/img/shrek4.jpeg" alt="Description 1">
            <div class="caption">Shrek</div>
        </div>
        <div class="gallery-item">
            <img src="/src/assets/img/shrek5.jpeg" alt="Description 1">
            <div class="caption">Shrek</div>
        </div>
    </div>
    <footer>
        <div>
            <div class="footer-bottom">
                <p>© 2025 BlueWave Travel. All rights reserved.</p>
                <p>Developed by: Tamerlan Khassenov, Alikhan Sekenov, Aldiyar Bazarbayev, Aldiyar Gaisa</p>
            </div>
        </div>
    </footer>
</body>
</html>