<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TMNTgram Profile</title>
  <link rel="stylesheet" href="/src/styles/profile.css">
</head>
<body>
  <header id="main-header" class="header">
    <div class="container">
      <nav class="nav">
        <h1 class="logo">TMNTgram</h1>
        <div class="nav-links">
          <a href="homepage.html">Home</a>
          <a href="friends.html">Friends</a>
          <a href="profile.html" style="font-weight:bold;">Profile</a>
          <a href="settings.html">Settings</a>
          <a href="authorization.html">Login</a>
        </div>
      </nav>
    </div>
  </header>
  
  <section id="profile-hero" class="hero">
    <div class="container">
      <h2 class="hero-title">Welcome, Alikhan Sekenov!</h2>
      <p class="hero-description">2nd year student at Astana IT University.</p>
      <div class="hero-buttons">
        <button class="btn btn-primary"><a href="edit-profile.html">Edit profile</a></button>
        <button class="btn btn-secondary">Subscribe</button>
      </div>
    </div>
  </section>

  <section class="destinations">
    <div class="container">
      <h3 class="section-title">Personal Information</h3>
      <div class="grid">
        <div class="card">
          <div class="card-image medium-blue" style="display:flex;justify-content:center;align-items:center;">
            <img src="/src/assets/img/ALDIYAR.jpg" alt="Аватар" width="120" height="120" style="border-radius:50%;border:4px solid #0074D9;">
          </div>
          <div class="card-content">
            <h4 class="card-title">Alikhan Sekenov</h4>
            <p class="card-subtitle">City: Astana</p>
            <p class="card-text">Date of birth: 25.07.2007</p>
            <p class="card-text">University: AITU</p>
            <p class="card-text">Faculty: Software Engineering</p>
            <button class="btn btn-card">Send a message</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="footer">
    <div class="container">
      <div class="footer-grid">
        <div class="footer-section">
          <h4 class="footer-title">TMNTgram</h4>
          <p class="footer-text">Social media platform for networking.</p>
        </div>
        <div class="footer-section">
          <h5 class="footer-subtitle">Navigation</h5>
          <ul class="footer-links">
            <li><a href="homepage.html">Home</a></li>
            <li><a href="friends.html">Friends</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="settings.html">Settings</a></li>
          </ul>
        </div>
        
      </div>
      <div class="footer-bottom">
        <p>© 2025 TMNTgram.</p>
        <p>Khassenov Tamerlan, Alikhan Sekenov, Aldiyar Bazarbayev, Aldiyar Gaisa.</p>
      </div>
    </div>
  </footer>
</body>
</html>
