<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Settings</title>
    <link rel="stylesheet" href="css/settings.css">
</head>
<body>

<nav>
    <a href="friends.html">Friends</a> |
    <a href="search.html">Search</a> |
    <a href="settings.html">Settings</a>
</nav>

<h2>Profile Settings</h2>

<div class="settings">
    <div class="row">
        <div class="title">Notifications</div>
        <input type="checkbox" checked>
    </div>
    <div class="row">
        <div class="title">Profile Visibility</div>
        <input type="checkbox">
    </div>
</div>

<footer>
    Team: Tamerlan Khasenov • Alikhan Sekenov • Aldiyar Bazarbayev • Aldiyar Gaisa
</footer>

</body>
</html>